{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenidos al Sitio de Libros</h1>
            <p class="col-md-8 fs-4">
               Aqui puedes registrar, editar y gestionar la lista de tus libros
               registrados en el sistema web con Django!
            </p>
            <button class="btn btn-primary btn-lg" type="button">
                Empezar!
            </button>
        </div>
    </div>
    
{% endblock %}

{% block footer %} Mi primero CRUD con Djando y Python - 2025 {% endblock %}
    

